html, body {
  height: 100%;
  margin: 0;
}

body{
    background:
        url(./images/Elpses.png) left top no-repeat,
        url(./images/elp2.png) right bottom no-repeat,
        #2F303A;
        
    color: white;
}

.main{
    min-height: 100%;
    position: relative;
}

.left, .rigth {
    display: inline-block;
    float: left;
    border: 1px solid;
}

.left, .rigth {
    width: 100%;
}

@media screen and (max-width:1800px) and (min-width:428px){
    .left {
        width: 30%;
    }
    .rigth {
        width: 69%;
    }
    .left, .rigth {
        position: relative;
        transform: translateY(100%);
    }
}

.photo {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.info h1, .info p{
    text-align: center;
}
.rigth hr{
    width: 30%;
    border: 1px solid #CCC;
}

.project{
    text-align: center;
}

.logo-project{
    width: 100px;
}

.nav-bar {
    clear: both;
    position: relative;
    bottom: 0;
    border: 1px solid;
}

.nav-link, .nav-social{
    display: inline-block;
    padding: 4px;
}

.nav-social img{
    width: 30px;
}

.footer {
  height: 80px;
  margin-top: -80px;
}